<footer class="bg-gray-900 text-gray-300 py-6">
  <div
    class="container mx-auto px-6 flex flex-col md:flex-row justify-between items-center"
  >
    <!-- Logo & Copyright -->
    <div class="text-center md:text-left">
      <h3 class="text-xl font-bold text-white">SIL Informatique</h3>
      <p class="mt-2 text-sm">© 2025 Tous droits réservés.</p>
    </div>

    <!-- Liens rapides -->
    <div class="mt-4 md:mt-0">
      <ul class="flex space-x-6">
        <li>
          <a href="/" class="hover:text-orange-500 transition">Accueil</a>
        </li>
        <li>
          <a href="/service" class="hover:text-orange-500 transition"
            >Services</a
          >
        </li>
        <li>
          <a href="#contact" class="hover:text-orange-500 transition"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <!-- Contact & Adresse -->

    <div class="mt-4 md:mt-0 text-center md:text-right">
      <div class="flex flex-col items-start md:items-end space-y-2">
        <!-- Contact -->
        <div class="flex items-center gap-2">
          <mat-icon class="text-primary-color">phone</mat-icon>
          <p class="text-lg text-white">06 84 75 67 11</p>
        </div>

        <!-- Adresse -->
        <div class="flex items-center gap-2">
          <mat-icon class="text-primary-color">home</mat-icon>
          <p class="text-lg text-white">Conteville-lès-Boulogne</p>
        </div>
      </div>
    </div>
  </div>
</footer>
