<section
  class="p-8 flex flex-col md:flex-row items-center justify-center gap-8"
>
  <div class="bg-blue-150 p-6 rounded-lg shadow-md max-w-xl">
    <mat-icon class="icon-large">desktop_mac</mat-icon>
    <h2 class="text-xl font-bold">Vente de Matériel Informatique</h2>
    <p class="mt-2 text-gray-700">
      Nous proposons une large gamme d'équipements informatiques professionnels
      adaptés à vos besoins.
    </p>
    <ul class="mt-4 space-y-2">
      <li class="flex items-center gap-2">
        <mat-icon>computer</mat-icon> Ordinateurs de bureau et portables
        professionnels
      </li>
      <li class="flex items-center gap-2">
        <mat-icon>memory</mat-icon> Serveurs et solutions de stockage
      </li>
      <li class="flex items-center gap-2">
        <mat-icon>settings</mat-icon> Composants et périphériques
      </li>
    </ul>

    <a
      href="/service/vente"
      class="mt-6 inline-flex items-center bg-gray-200 text-orange-500 font-semibold px-6 py-3 rounded-lg shadow-md hover:bg-gray-200 transition"
    >
      En savoir plus <mat-icon class="ml-2">arrow_forward_ios</mat-icon>
    </a>
  </div>
  <img
    src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=
        MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    alt="Matériel informatique"
    class="w-1/2 rounded-lg shadow-md"
  />
</section>

<section
  class="p-8 flex flex-col md:flex-row-reverse items-center justify-center gap-8 bg-gray-200"
>
  <div class="bg-white p-6 rounded-lg shadow-md max-w-xl">
    <mat-icon class="icon-large">developer_mode</mat-icon>
    <h2 class="text-xl font-bold">Développement de Logiciel</h2>
    <p class="mt-2 text-gray-700">
      Nous développons des logiciels de gestion et des solutions adaptées aux
      besoins de votre entreprise.
    </p>
    <ul class="mt-4 space-y-2">
      <li class="flex items-center gap-2">
        <mat-icon>assessment</mat-icon> Logiciels de gestion
      </li>
      <li class="flex items-center gap-2">
        <mat-icon>flash_on</mat-icon> Solutions sur mesure
      </li>
      <li class="flex items-center gap-2">
        <mat-icon>link</mat-icon> Intégration avec vos outils existants
      </li>
    </ul>
    <a
      href="/service/windev"
      class="mt-6 inline-flex items-center bg-gray-200 text-orange-500 font-semibold px-6 py-3 rounded-lg shadow-md hover:bg-gray-200 transition"
    >
      En savoir plus
      <mat-icon class="ml-2">arrow_forward_ios</mat-icon>
    </a>
  </div>
  <img
    src="https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-4.0.3&ixid=
            MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    alt="Développement de logiciel"
    class="w-1/2 rounded-lg shadow-md"
  />
</section>

<section
  class="p-8 flex flex-col md:flex-row items-center justify-center gap-8"
>
<div class="bg-white p-6 rounded-lg shadow-md max-w-xl">
  <div class="flex items-center gap-3">
    <mat-icon class="icon-large">build</mat-icon>
    <h2 class="text-xl font-bold">Dépannage Informatique</h2>
  </div>
  <p class="mt-2 text-gray-700">
    Nous proposons l'installation et la maintenance sur vos appareils informatiques.
  </p>
  <ul class="mt-4 space-y-2">
    <li class="flex items-center gap-2">
      <mat-icon>support</mat-icon> Service après-vente
    </li>
    <li class="flex items-center gap-2">
      <mat-icon>email</mat-icon> Configuration boîte mail
    </li>
    <li class="flex items-center gap-2">
      <mat-icon>install_desktop</mat-icon> Installation rapide
    </li>
  </ul>
  <a
    href="/service"
    class="mt-6 inline-flex items-center bg-gray-200 text-orange-500 font-semibold px-6 py-3 rounded-lg shadow-md hover:bg-gray-200 transition"
  >
    En savoir plus <mat-icon class="ml-2">arrow_forward_ios</mat-icon>
  </a>
</div>

  <img
    src="https://plus.unsplash.com/premium_photo-1664301884434-228dd7cff3a6?w=500&auto=
            format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWFpbnRlbmFuY2UlMjBpbmZvcmFtdGlxdWV8ZW58MHx8MHx8fDA%3D"
    alt="Dépannage informatique"
    class="w-1/2 rounded-lg shadow-md"
  />
</section>
