<section class="bg-orange-500 text-white py-12 px-6 text-center">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-3xl md:text-5xl font-bold">SIL-INFORMATIQUE</h1>
    <p class="mt-4 text-lg md:text-xl">
      Votre partenaire de confiance en informatique : solutions, services et
      innovations adaptées à vos besoins.
    </p>
    <a href="#contact" class="btn-slide">
      <span>Nous contacter</span>
      <mat-icon class="ml-2">arrow_forward_ios</mat-icon>
    </a>
  </div>
</section>

<section id="services" class="p-8 bg-white mt-6">
  <h2 class="text-2xl text-primary-color font-bold text-center">
    Nos Services
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
    <a
      href="/service"
      class="block p-6 bg-gray-100 border rounded-lg shadow-lg hover:shadow-2xl hover:transform hover:translate-y-[-2px] transition-all duration-300"
    >
      <h3 class="text-2xl font-semibold text-gray-900 mb-4">
        Développement Web & Logiciels
      </h3>
      <p class="text-gray-700 text-lg leading-relaxed mb-4">
        Nous proposons des solutions complètes en développement web et
        logiciels, adaptées aux besoins spécifiques de votre entreprise. Que ce
        soit pour créer des sites modernes, des applications web performantes ou
        des logiciels sur mesure, nous avons les compétences pour concrétiser
        vos projets.
      </p>
    </a>

    <a
      href="/service"
      class="block p-6 bg-gray-100 border rounded-lg shadow-md hover:shadow-2xl hover:transform hover:translate-y-[-2px] transition-all duration-300"
    >
      <h3 class="text-2xl font-semibold text-gray-900 mb-4">
        Vente de Matériel Informatique
      </h3>
      <p class="text-gray-700 text-lg leading-relaxed mb-4">
        Nous proposons une large gamme de matériel informatique adapté aux
        besoins de votre entreprise. Que ce soit des ordinateurs de bureau, des
        portables, des serveurs ou des périphériques, nous avons les équipements
        de qualité pour améliorer la performance de vos opérations. Tous nos
        produits sont sélectionnés pour leur fiabilité, leur performance et leur
        durabilité.
      </p>
    </a>

    <a
      href="/service"
      class="block p-6 bg-gray-100 border rounded-lg shadow-md hover:shadow-2xl hover:transform hover:translate-y-[-2px] transition-all duration-300"
    >
      <h3 class="text-2xl font-semibold text-gray-900 mb-4">
        Support & Maintenance
      </h3>
      <p class="text-gray-700 text-lg leading-relaxed mb-4">
        Nous offrons un service de support technique et de maintenance pour
        garantir la disponibilité et la performance optimales de votre parc
        informatique. Que ce soit pour des interventions ponctuelles ou pour des
        contrats de maintenance préventive, nous assurons un suivi régulier pour
        éviter toute panne ou dysfonctionnement.
      </p>
    </a>
  </div>
</section>

<section id="about" class="p-8 bg-gray-200">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center">
    <!-- Image à gauche -->
    <div class="md:w-1/2 flex justify-center">
      <img
        src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?w=500&auto=format&fit=
              crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sYWJvcmF0aW9uJTIwY2xp
              ZW50JTIwZW50cmVwcmV1bmV1cnxlbnwwfHwwfHx8MA%3D%3D"
        alt="À propos de nous"
        class="w-80 h-auto rounded-lg shadow-md"
      />
    </div>

    <!-- Texte à droite -->
    <div class="md:w-1/2 md:pl-8 text-center md:text-left">
      <h2 class="text-2xl text-primary-color font-bold">À Propos de Nous</h2>
      <p class="mt-4 text-gray-700">
        Depuis 1990, SIL Informatique accompagne les entreprises et les
        particuliers de la Côte d’Opale dans leurs besoins en informatique.
        Spécialistes de l’informatique de gestion (comptabilité, gestion
        commerciale, logiciels métiers, bureautique...), nous offrons des
        solutions complètes, allant de la vente à l’assistance sur site. Nous
        nous chargeons également de l’installation, du paramétrage personnalisé
        et de la formation pour vous garantir une transition fluide et efficace.
      </p>
      <p class="mt-4 text-gray-700">
        Que ce soit pour la mise en place d’un nouveau système informatique ou
        le renouvellement de votre équipement, nous vous offrons un service
        sur-mesure. Nous proposons la vente, l’installation et la maintenance de
        matériel informatique, tout en assurant un suivi régulier pour maintenir
        vos équipements en parfait état de fonctionnement.
      </p>
    </div>
  </div>
</section>

<section id="partenaires" class="p-8 bg-gray-100">
  <h2 class="text-2xl text-primary-color font-bold text-center mb-6">
    Nos Partenaires
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-7xl mx-auto">
    <!-- Partenaire 1 -->
    <div
      class="flex flex-col items-center bg-white p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
    >
      <div class="text-center md:text-left">
        <h3 class="text-2xl font-semibold text-gray-900">
          Découvrez Wavesoft : <BR /> La Solution de Gestion d'Entreprise
          Tout-en-Un
        </h3>
        <p class="text-gray-700 mt-4 text-lg leading-relaxed">
          Wavesoft est une solution de gestion d'entreprise flexible et
          modulaire, conçue pour accompagner les entreprises dans l'optimisation
          de leur fonctionnement quotidien. Que vous soyez une PME ou une grande
          entreprise, Wavesoft s’adapte à vos besoins spécifiques, vous
          permettant de gagner en efficacité, de réduire les coûts et
          d'améliorer la prise de décision grâce à des données en temps réel.
        </p>
      </div>
      <img
        src="Logo_Wavesoft.png"
        alt="Partenaire 1"
        class="w-32 h-32 md:w-40 md:h-40 object-contain rounded-full border-4 border-gray-300 shadow-md mt-6"
      />
    </div>
    <!-- Partenaire 2 -->
    <div
      class="flex flex-col items-center bg-white p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
    >
      <div class="text-center md:text-left">
        <h3 class="text-2xl font-semibold text-gray-900">
          Facibat : <br />
          La Solution de Gestion pour les Entreprises de Construction
        </h3>
        <p class="text-gray-700 mt-4 text-lg leading-relaxed">
          Facibat est une solution spécialement conçue pour les entreprises du
          secteur de la construction. Elle vous aide à optimiser la gestion de
          vos projets, vos devis, vos commandes et vos chantiers. Facibat vous
          permet de suivre en temps réel l’évolution de vos projets et de
          prendre des décisions éclairées pour améliorer la rentabilité et
          l'efficacité de vos activités.
        </p>
      </div>
      <img
        src="Logo_Facibat.png"
        alt="Facibat"
        class="w-32 h-32 md:w-40 md:h-40 object-contain rounded-full border-4 border-gray-300 shadow-md mt-6"
      />
    </div>

    <!-- Partenaire 3 -->

    <div
      class="flex flex-col items-center bg-white p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
    >
      <div class="text-center md:text-left">
        <h3 class="text-2xl font-semibold text-gray-900">
          ESET : <br />
          La Solution de Sécurité pour les Entreprises
        </h3>
        <p class="text-gray-700 mt-4 text-lg leading-relaxed">
          ESET est un leader mondial en matière de cybersécurité, offrant des
          solutions complètes pour protéger les entreprises contre les menaces
          en ligne. Avec des produits allant de la protection des postes de
          travail aux solutions pour les serveurs et les réseaux, ESET assure
          une sécurité de niveau professionnel pour prévenir les attaques et
          garantir la confidentialité de vos données.
        </p>
      </div>
      <img
        src="Logo_Eset.png"
        alt="ESET"
        class="w-32 h-32 md:w-40 md:h-40 object-contain rounded-full border-4 border-gray-300 shadow-md mt-6"
      />
    </div>

    <!-- Partenaire 4 -->

    <div
      class="flex flex-col items-center bg-white p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
    >
      <div class="text-center md:text-left">
        <h3 class="text-2xl font-semibold text-gray-900">
          Mailinblack : <br />
          La Solution Anti-Spam pour Entreprises
        </h3>
        <p class="text-gray-700 mt-4 text-lg leading-relaxed">
          Mailinblack est une solution de filtrage des emails spécialement
          conçue pour protéger les entreprises contre les spams, les emails
          malveillants et les attaques par phishing. Grâce à une technologie de
          filtrage avancée, Mailinblack garantit une sécurité accrue tout en
          assurant la réception de mails importants sans être encombré par les
          messages indésirables. Profitez d'une sécurité optimale pour vos
          échanges professionnels.
        </p>
      </div>
      <img
        src="Logo_Mailinblack.png"
        alt="Mailinblack"
        class="w-32 h-32 md:w-40 md:h-40 object-contain rounded-full border-4 border-gray-300 shadow-md mt-6"
      />
    </div>
  </div>
</section>

<section id="contact" class="p-8">
  <h2 class="text-2xl text-primary-color font-bold text-center mb-6">
    Contactez-nous
  </h2>

  <div
    class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md flex flex-col md:flex-row items-start"
  >
    <!-- Bloc Contact Téléphone -->
    <div class="w-full md:w-1/2 p-4">
      <div class="flex items-center justify-between mb-4">
        <!-- Ajout de justify-between -->
        <h3 class="text-xl font-semibold text-gray-800">Par téléphone :</h3>
      </div>
      <p class="text-lg font-bold text-primary-color flex items-center gap-2">
        <mat-icon>phone</mat-icon>
        06 84 75 67 11
      </p>
    </div>

    <!-- Formulaire -->
    <form
      class="w-full md:w-1/2 p-8 pt-4 border-l md:border-l-gray-300"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex items-center justify-between mb-4">
        <!-- Ajout de justify-between -->
        <h3 class="text-xl font-semibold text-gray-800">Par mail :</h3>
      </div>
      <div class="mb-4 flex flex-col">
        <label for="name" class="text-gray-700 mb-1">Nom</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          name="name"
          class="w-full border rounded p-2"
          required
        />
      </div>
      <div class="mb-4 flex flex-col">
        <label for="email" class="text-gray-700 mb-1">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          class="w-full border rounded p-2"
          required
        />
      </div>
      <div class="mb-4 flex flex-col">
        <label for="message" class="text-gray-700 mb-1">Message</label>
        <textarea
          id="message"
          [(ngModel)]="message"
          name="message"
          class="w-full border rounded p-2"
          rows="4"
          required
        ></textarea>
      </div>
      <button
        type="submit"
        class="bg-primary-color text-white px-4 py-2 rounded w-full"
      >
        Envoyer
      </button>
    </form>
  </div>
</section>
