

  @font-face {
    font-family: "Joy Circuit";
    src: url("../../../../../fonts/JOYCIRCU.ttf") format("truetype");
    
  }

  p {
    font-family: 'Joy Circuit';
    font-size:x-large;
    margin-bottom: 0;
  }